.dark-mode-switcher {
    background: rgba(160, 163, 180, 0.18);
    color: black;
    border-radius: 50px;
	width: 72px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.dark-mode-switcher:focus {
	outline: 1px dashed;
    outline-offset: 2px;
}

body .dark-mode-switcher .switcher-wrap {
    line-height: 1;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0 8px rgba(47, 49, 57, 0.18);
    transition: 0.4s cubic-bezier(0.01, 0.68, 0.42, 1.36) !important;
}

html[scheme="dark"] .dark-mode-switcher .light-icon {
    display: none;
}

html[scheme="light"] .dark-mode-switcher .dark-icon {
    display: none;
}

html[scheme="dark"] .dark-mode-switcher .switcher-wrap {
    left: calc(100% - 33px );
}


html[scheme="dark"] {
    --pt-body-color: #e3e7ed;
    --pt-body-bg-color: #1f2328;
    --pt-headings-color: #fff;
    --soft-white: #ffffff0f;
    --soft-black: #0000000f;
    --soft-black-2: #31384030;
    --pt-shadow-soft: none;
    --pt-card-bg: #272c31;
    --pt-border-color: rgba(185, 185, 185, 0.3);
}

html[scheme="dark"] .wpforms-form {
	--wpforms-label-color: #fff;
	--wpforms-label-sublabel-color: #fff;
}

html[scheme="dark"] mark,
html[scheme="dark"] ins {
    background-color: #fff9c0;
}

html[scheme="dark"] pre {
    background-color: transparent;
    color: #fff;
}

html[scheme="dark"] blockquote {
    border-color: #fff;
}

html[scheme="dark"] .wp-block-quote:not(.is-style-plain) {
    background: var(--soft-white);
}

html[scheme="dark"] select,
html[scheme="dark"] textarea,
html[scheme="dark"] input[type="text"],
html[scheme="dark"] input[type="password"],
html[scheme="dark"] input[type="datetime"],
html[scheme="dark"] input[type="datetime-local"],
html[scheme="dark"] input[type="date"],
html[scheme="dark"] input[type="month"],
html[scheme="dark"] input[type="time"],
html[scheme="dark"] input[type="week"],
html[scheme="dark"] input[type="number"],
html[scheme="dark"] input[type="email"],
html[scheme="dark"] input[type="url"],
html[scheme="dark"] input[type="search"],
html[scheme="dark"] input[type="tel"],
html[scheme="dark"] input[type="color"] {
    background-color: #2a3036;
    border-color: #3f454b;
}

html[scheme="dark"] select:focus,
html[scheme="dark"] textarea:focus,
html[scheme="dark"] input[type="text"]:focus,
html[scheme="dark"] input[type="password"]:focus,
html[scheme="dark"] input[type="datetime"]:focus,
html[scheme="dark"] input[type="datetime-local"]:focus,
html[scheme="dark"] input[type="date"]:focus,
html[scheme="dark"] input[type="month"]:focus,
html[scheme="dark"] input[type="time"]:focus,
html[scheme="dark"] input[type="week"]:focus,
html[scheme="dark"] input[type="number"]:focus,
html[scheme="dark"] input[type="email"]:focus,
html[scheme="dark"] input[type="url"]:focus,
html[scheme="dark"] input[type="search"]:focus,
html[scheme="dark"] input[type="tel"]:focus,
html[scheme="dark"] input[type="color"]:focus {
    border-color: #ffffff5e;
}

html[scheme="dark"] .select2-container--default .select2-selection--single {
    background-color: #2a3036;
    border-color: #3f454b;
}

html[scheme="dark"] ::placeholder {
    color: #ffffff40 !important;
}

html[scheme="dark"] :-ms-input-placeholder {
    color: #ffffff40 !important;
}

html[scheme="dark"] ::-ms-input-placeholder {
    color: #ffffff40 !important;
}

html[scheme="dark"] #back-to-top {
	--pt-accent-color: #ffffff;
	--pt-accent-80-color: rgba(16, 16, 16, 0.5);
	border: 1px solid rgba(185, 185, 185, 0.4);
}

html[scheme="dark"] .comment-list .comment-content {
    background: var(--pt-body-bg-color);
}

html[scheme="dark"] .blog-archive-title .title {
    color: var(--pt-headings-color);
}

html[scheme="dark"] .blog-archive-title .post-count span {
    background: var(--soft-white);
}

html[scheme="dark"] .default-post-list-pagination .page-numbers {
    color: #fff;
}

html[scheme="dark"] .default-post-list-pagination .page-numbers.current {
    box-shadow: 0 2px 20px #0e0e130d;
}

html[scheme="dark"] .single-hero-title .title {
    border-bottom-color: var(--soft-white);
}

html[scheme="dark"] .single-hero-quote {
    background: var(--pt-body-bg-color);
}

html[scheme="dark"] .single-hero-link {
    background: var(--pt-body-bg-color);
}

html[scheme="dark"] .single-hero-6 .content-container {
    background: var(--soft-white);
}

@media (max-width: 767px) {
    html[scheme="dark"] .single-hero-6 .content-container {
        background: none;
    }
}

html[scheme="dark"] .page-content-wrapper .post-nav-links .post-page-numbers {
    background: #000;
}

html[scheme="dark"] .page-content-wrapper .post-nav-links .post-page-numbers:hover, html[scheme="dark"] .page-content-wrapper .post-nav-links .post-page-numbers.current {
    background: var(--pt-accent-color);
}

html[scheme="dark"] .author-social-links a {
    color: #fff;
    background: var(--soft-white);
}

html[scheme="dark"] .author-social-links a:hover {
    background: var(--pt-accent-color);
}

html[scheme="dark"] .single-share-box-link .share-link-text {
    color: #fff;
}

html[scheme="dark"] .blogsy-toc-wrap {
    background: var(--pt-body-bg-color);
}

html[scheme="dark"] .popup-search .popup-search-container {
    background: var(--pt-body-bg-color);
}

html[scheme="dark"] .popup-search-form .search-field::-webkit-input-placeholder, html[scheme="dark"] .popup-search-form .search-field::placeholder {
    color:  #ffffff40;
}

html[scheme="dark"] .inline-search-form .search-field {
    color: var(--pt-body-color);
}

html[scheme="dark"] .inline-search-form .search-field::-webkit-input-placeholder, html[scheme="dark"] .inline-search-form .search-field::placeholder {
    color:  #ffffff40 !important;
}

html[scheme="dark"] .blogsy-header-v-nav li a,
html[scheme="dark"] .blogsy-header-nav .sub-menu li > a,
html[scheme="dark"] .blogsy-header-nav li > a {
    color: rgba(255, 255, 255, 0.7);
}

html[scheme="dark"] .blogsy-header-v-nav li > a:hover,
html[scheme="dark"] .blogsy-header-v-nav li.hovered > a,
html[scheme="dark"] .blogsy-header-v-nav li.current_page_item > a,
html[scheme="dark"] .blogsy-header-v-nav li.current-menu-item > a,
html[scheme="dark"] .blogsy-header-nav li > a:hover,
html[scheme="dark"] .blogsy-header-nav li.hovered > a,
html[scheme="dark"] .blogsy-header-nav li.current-menu-item > a,
html[scheme="dark"] .blogsy-header-nav li.current-menu-ancestor > a {
    color: #fff;
}

html[scheme="dark"] .blogsy-news-ticker-wrapper .blogsy-news-ticker-btn,
html[scheme="dark"] .blogsy-ticker .blogsy-news-ticker-wrapper .blogsy-news-ticker-title-wrapper,
html[scheme="dark"] .pt-header-layout-3 #site-header .pt-header-inner > .pt-header-container,
html[scheme="dark"] .pt-header-layout-1 .pt-header .pt-header-inner .pt-header-container:focus-within:after,
html[scheme="dark"] .pt-header-layout-1 .pt-header .pt-header-inner .pt-header-container:hover:after,
html[scheme="dark"] .pt-header-inner {
    background: #272C31;
}

html[scheme="dark"] .offcanvas-wrapper .offcanvas-container {
    background: var(--pt-body-bg-color) !important;
}

html[scheme="dark"] .offcanvas-close {
    color: #fff !important;
}

html[scheme="dark"] .blogsy-logo-image:not(.dark-logo) {
	display: none;
}

html[scheme="dark"] .blogsy-logo-image.dark-logo {
    display: block;
}

html[scheme="dark"] .blogsy-logo-title a {
    color: var(--pt-headings-color);
}

html[scheme="dark"] .blogsy-logo-title a:hover {
    color: var(--pt-accent-color);
}

html[scheme="dark"] .blogsy-logo-description {
    color: var(--pt-headings-color) !important;
}

html[scheme="dark"] .blogsy-divider-heading {
    --divider-color-2: #ffffff40;
}

html[scheme="dark"] .blogsy-social-icons .social-item {
    border-color: var(--soft-white);
}

html[scheme="dark"] .blogsy-insta-info .username,
html[scheme="dark"] .blogsy-insta-info .tagline {
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .blogsy-mailchimp-input-label {
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .blogsy-mailchimp-input input {
    color: #fff !important;
}

html[scheme="dark"] .post-wrapper .title a:hover {
    color: var(--pt-headings-color);
}

html[scheme="dark"] .site-default-footer {
    background: var(--pt-card-bg);
}

html[scheme="dark"] .site-default-footer .default-footer-copyright {
	border-top-color: var(--pt-border-color);
}

.blogsy-posts-carousel-wrapper .swiper {
	padding: 1px 0;
}

html[scheme="dark"] .blogsy-post-nexo-widget .post-wrapper,
html[scheme="dark"] .peony-slider .main-slider {
	outline: 1px solid rgba(185, 185, 185, 0.4);
}

html[scheme="dark"] .blogsy-categories-box .title a {
	color: #ffffff;
}

html[scheme="dark"] .pt-hero-slider.peony-slider .main-slider {
    outline: 1px solid var(--pt-border-color)
}


/* Elementor Default Widgets */

html[scheme="dark"] .elementor-widget-heading .elementor-heading-title {
    -webkit-text-stroke-color: var(--pt-body-color) !important;
    stroke: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-drop-cap-view-framed .elementor-drop-cap, html[scheme="dark"] .elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--pt-accent-color) !important;
    border-color: var(--pt-accent-color) !important;
}

html[scheme="dark"] .elementor-image-box-title {
    -webkit-text-stroke-color: var(--pt-body-color) !important;
    stroke: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-image-box-img img {
    border-color: var(--soft-white) !important;
}

html[scheme="dark"] .elementor-icon-box-title {
    -webkit-text-stroke-color: var(--pt-body-color) !important;
    stroke: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-star-rating__title {
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-widget-progress .elementor-title {
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-widget-progress .elementor-progress-wrapper {
    background-color: var(--soft-white) !important;
}

html[scheme="dark"] .elementor-widget-testimonial .elementor-testimonial-content {
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-widget-testimonial .elementor-testimonial-name {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-testimonial .elementor-testimonial-job {
    color: var(--pt-accent-color) !important;
}

html[scheme="dark"] .elementor-widget-tabs .elementor-tab-content {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-tabs .elementor-tabs-content-wrapper,
html[scheme="dark"] .elementor-widget-tabs .elementor-tab-desktop-title.elementor-active {
    background-color: transparent !important;
}

html[scheme="dark"] .elementor-widget-tabs .elementor-tab-title, html[scheme="dark"] .elementor-widget-tabs .elementor-tab-title a {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-tabs .elementor-tab-title.elementor-active, html[scheme="dark"] .elementor-widget-tabs .elementor-tab-title.elementor-active a {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-accordion .elementor-tab-content {
    background-color: transparent !important;
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-widget-accordion .elementor-tab-title {
    background-color: transparent !important;
}

html[scheme="dark"] .elementor-widget-accordion .elementor-accordion-icon, html[scheme="dark"] .elementor-widget-accordion .elementor-accordion-title {
    color: #fff !important;
	fill: #fff;
}

html[scheme="dark"] .elementor-widget-accordion .elementor-tab-title .elementor-accordion-icon i:before {
    color: #fff !important;
}

html[scheme="dark"] .elementor-accordion .elementor-tab-title .elementor-accordion-icon svg {
    fill: currentColor !important;
}

html[scheme="dark"] .elementor-widget-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-toggle .elementor-tab-content {
    background-color: transparent !important;
    color: var(--pt-body-color) !important;
}

html[scheme="dark"] .elementor-widget-toggle .elementor-tab-title {
    background-color: transparent !important;
}

html[scheme="dark"] .elementor-widget-toggle .elementor-toggle-icon, html[scheme="dark"] .elementor-widget-toggle .elementor-toggle-title {
    color: #fff !important;
}

html[scheme="dark"] .elementor-widget-toggle .elementor-tab-title .elementor-toggle-icon i:before {
    color: #fff !important;
}

html[scheme="dark"] .elementor-toggle-icon svg {
	fill: currentColor !important;
}


/* Woocommerce */

html[scheme="dark"] .woocommerce ul.products li.product .price {
    color: var(--pt-headings-color);
}

html[scheme="dark"] .woocommerce div.product p.price, html[scheme="dark"] .woocommerce div.product span.price {
    color: var(--pt-headings-color);
}

html[scheme="dark"] .woocommerce-error, html[scheme="dark"] .woocommerce-info, html[scheme="dark"] .woocommerce-message {
    background-color: var(--soft-white);
    color: var(--pt-body-color);
}

html[scheme="dark"] .woocommerce ul.products li.product > .button {
    background: var(--soft-white);
}

html[scheme="dark"] .woocommerce ul.products li.product > .button:hover {
    background-color: var(--pt-button-bg-hover);
}

html[scheme="dark"] .woocommerce table.shop_table td a {
    color: var(--pt-headings-color);
}

html[scheme="dark"] #add_payment_method table.cart td.actions .coupon .input-text, html[scheme="dark"] .woocommerce-cart table.cart td.actions .coupon .input-text,
html[scheme="dark"] .woocommerce-checkout table.cart td.actions .coupon .input-text {
    border-color: var(--soft-white);
}

html[scheme="dark"] #add_payment_method #payment, html[scheme="dark"] .woocommerce-cart #payment, html[scheme="dark"] .woocommerce-checkout #payment {
    background: var(--soft-white);
}

html[scheme="dark"] .select2-dropdown {
    background-color: #2a3036;
    border-color: #3f454b;
}

html[scheme="dark"] .select2-container--default .select2-results__option[aria-selected=true],
html[scheme="dark"] .select2-container--default .select2-results__option[data-selected=true] {
    background-color: var(--soft-white);
}

html[scheme="dark"] .woocommerce #reviews #responds ol.commentlist li .meta {
    color: var(--pt-body-color);
}

html[scheme="dark"] #add_payment_method #payment div.payment_box, html[scheme="dark"] .woocommerce-cart #payment div.payment_box, html[scheme="dark"] .woocommerce-checkout #payment div.payment_box {
    background-color: var(--soft-white);
    color: var(--pt-body-color);
}

html[scheme="dark"] #add_payment_method #payment div.payment_box::before, html[scheme="dark"] .woocommerce-cart #payment div.payment_box::before, html[scheme="dark"] .woocommerce-checkout #payment div.payment_box::before {
    border-bottom-color: var(--soft-white);
}

html[scheme="dark"] .woocommerce-account .woocommerce-MyAccount-navigation ul {
    background: var(--soft-white);
}

html[scheme="dark"] .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active, html[scheme="dark"] .woocommerce-account .woocommerce-MyAccount-navigation ul li:hover {
    background: var(--pt-accent-color);
}

html[scheme="dark"] .woocommerce-account .woocommerce-MyAccount-navigation ul li {
    color: #ffffff;
}
